.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  margin-top:20px;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
  margin-bottom: 25px;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.lightbox-image {
    max-width: 90%;
    max-height: 80%;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
